html {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0e0e0;
}

.heading {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #f3f1f1,
                -10px -10px 20px #ffffff;
    padding: 10px 35px;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    justify-content: space-between;
}
#btnClear,
#btnGrid {
    border-radius: 43px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  8px 8px 16px #727272,
                 -8px -8px 16px #ffffff;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 25px;
    border: none;
}

#btnColor{
    border-radius: 43px;
    background: linear-gradient(145deg, #eb5d5d, #f0f0f0);
    box-shadow:  8px 8px 16px #727272,
                 -8px -8px 16px #ffffff;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 25px;
    border: none;
}


#btnClear:hover,
#btnColor:hover,
#btnGrid:hover {
    box-shadow:  15px 15px 30px #5a5a5a,
             -15px -15px 30px #ffffff;
}
#btnClear:active,
#btnColor:active,
#btnGrid:active{
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow: inset 15px 15px 30px #5a5a5a,
            inset -15px -15px 30px #ffffff;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #858585,
                 -10px -10px 20px #ffffff;
    margin-bottom: 25px;
}

.rowBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.columnBox {
    flex-wrap: wrap;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/* Media Queries */
@media only screen and (max-width:500px) {
    .heading, .btn, #container, .footer {
        width: 100%;
    }
}
